.idea/
.vs/

node_modules/
.yarn/cache/
.yarn/unplugged/
.yarn/install-state.gz
.pnp.*

build/
build-copy/
logs/
settings/

/src/ts/generated/*
!/src/ts/generated/gamepad-template.ts
!/src/ts/generated/gamepad-mappings.ts
!/src/ts/generated/sprites.ts

/assets/images/pony.png
/assets/images/pony2.png
/assets/images/pony2a.png

config.json
.env
